.cart {
    &__title {
        color: #78909C;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    &__summary {
        padding: 8px;
        background-color: #F7F9F9;
        margin-bottom: 16px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        align-items: center;
    }
    &__p {
        color: #78909C;
        font-size: 12px;
        font-weight: 600;
    }
    &__total {
        font-size: 12px;
        font-weight: 700;
        color: #263238;
    }
    &__btn {
        &--back {
            font-size: 14px;
            font-weight: 700;
            color: #2196F3;
            &:hover {
                cursor: pointer;
            }
        }
        &--checkout {
            // background-color: #2196F3;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 700;
            background: linear-gradient(170.8deg, #00BCD4 0%, #00ACC1 99.05%);
            border-radius: 20px;
            padding: 8px 24px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}